body {
    margin: 10px;
}
.container {
    margin: 0 auto;
    max-width: 900px;
    background-color: #1ef;
    font-size: 0; /*delete text node*/
    padding: 5px;
}
.menu-item {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    background-color: blueviolet;
    width: calc(25% - 10px);
    min-width: 35px;
    padding: 5px;
    margin: 5px;
    border: 3px solid blue;
}